{% extends 'layout.html.twig' %}
{% block act25 %}active{% endblock %}
{% block ac31 %}active{% endblock %}
{% block title %}
  <h1>Listado de Clinicas </h1>
{% endblock %}
{% block body %}
<div class="portlet-body">
    <div class="row">
      <div class="col-md-2">
        <form method="get" action="" class="form-inline" role="search">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" name="buscar" class="btn btn-effect-ripple btn-info">
                <i class="fa fa-search"></i>
              </button>
            </span>
            <input type="text" name="query" value="" class="form-control" placeholder="Buscar"/>
          </div>
        </form>
      </div>
      <br>
      <br>
  <div class="col-md-12 col-sm-12 col-xs-12" >
    <div class="table-responsive">
      <table class="table table-bordered ">
        <thead>
          <tr>
              <th>Clínica</th>
              <th>Asesor</th>
              <th>Nota</th>
              <th>Observaciones</th>
              <th>Estado</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          {% for asignacionclinica in asignacionclinicas %}
          <tr>
              <td>{{asignacionclinica.idClinica}}</td>
              <td>{{asignacionclinica.idClinica.idPersona}}</td>
              <td>{{asignacionclinica.notaClinica}}</td>
              <td>{{ asignacionclinica.observacionesClinica }}</td>
              <td>{% if asignacionclinica.estadoAsignacionest %}Activo{% else %}No{% endif %}</td>
              <td>
                {% if asignacionclinica.notaClinica != null %}
                  {% if asignacionclinica.notaClinica >= 61 %}
                    <a href="#">
                    <img src="{{ asset ('asst/img/check.png')}}" width="25" height="25"></a>Aprobado
                  {% endif %}
                  {% if asignacionclinica.notaClinica < 61 %}
                    <a href="#">
                    <img src="{{ asset ('asst/img/x.png')}}" width="25" height="25"></a>No aprobado
                  {% endif %}
                {% else %}
                No asignado
                {% endif %}
              </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
 </div>
</div>
{% endblock %}
