{% extends 'layout.html.twig' %}
{% block act6 %}active{% endblock %}
{% block ac25 %}active{% endblock %}
{% block title %}
  <h1>Detalles</h1>
{% endblock %}
{% block body %}
      <div class="portlet-body">
  <div id="sample_1_wrapper" class="dataTable_wrapper table-responsive">
    <div class="col-md-4">
<table class="table table-striped table-bordered table-hover dataTable no-footer">
  <tbody>
    <tr>
      <th>Clínica</th>
      <td>{{asignacionclinica.idClinica}}</td>
    </tr>
    <tr>
      <th>Estudiante</th>
      <td>{{asignacionclinica.idEstudiante}}</td>
    </tr>
    <tr>
      <th>Carné</th>
      <td>{{asignacionclinica.idEstudiante.carneEstudiante}}</td>
    </tr>
    <tr>
      <th>Asesor</th>
      <td>{{asignacionclinica.idClinica.idPersona}}</td>
    </tr>
    <tr>
      <th>Nota</th>
      <td>{{ asignacionclinica.notaClinica }}</td>
    </tr>
    <tr>
      <th>Observaciones</th>
      <td>{{ asignacionclinica.observacionesClinica }}</td>
    </tr>
    <tr>
      <th>Estado</th>
      <td>
        {% if asignacionclinica.estadoAsignacionest %}Activo{% else %}No{% endif %}
      </td>
    </tr>
  </tbody>
</table>
  <table>
  <tr>
    <a href="{{ path('asignacionclinica_index') }}" class="btn grey">Regresar</a>
  </tr>
  <tr>
    <a href="{{ path('asignacionclinica_edit', { 'idAsignacion': asignacionclinica.idAsignacion }) }}" class="btn blue">Editar</a>
  </tr>
</table>
</div>
</div>
</div>
{% endblock %}
