{% extends 'layout.html.twig' %}
{% block act12 %}active{% endblock %}
{% block ac28 %}active{% endblock %}
      {% block title %}
        <h1>Editar Práctica</h1>
      {% endblock %}

{% block body %}
    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form,{'attr':{'role':'form'}}) }}
        <div class="form-body colorform">
          <div class="col-md-offset-3">
            <div class="row">
            <div class="col-md-3">
              {{form_label(edit_form.inicioPractica,'Fecha de Inicio')}}
              {{ form_widget(edit_form.inicioPractica,{'attr':{'class' : 'form-control'}}) }}
            </div>
            <div class="col-md-3">
              {{form_label(edit_form.fechaFin,'Fecha de finalización')}}
              {{ form_widget(edit_form.fechaFin,{'attr':{'class' : 'form-control'}}) }}
            </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{form_label(edit_form.idEstudiante,'Estudiante')}}
                {{ form_widget(edit_form.idEstudiante,{'attr':{ 'data-live-search' :'true','class' : 'selectpicker form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{form_label(edit_form.observaciones,'Observaciones')}}
                {{ form_widget(edit_form.observaciones,{'attr':{'data-live-search' :'true','class' : 'selectpicker form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                {{form_label(edit_form.estadoPractica,'Estado')}}
                {{ form_widget(edit_form.estadoPractica,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>

        </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" name="Create" class="btn green">Crear</button>
              <a href="{{ path('practicas_index') }}"><button type="button" name="cancelar" class="btn default">Cancelar</button></a>
            </div>
          </div>
        </div>
        {{ form_end(edit_form) }}
      </div>
    </div>

{% endblock %}
