{% extends 'layout.html.twig' %}
{% block act12 %}active{% endblock %}
{% block ac28 %}active{% endblock %}
{% block title %}
<h1>Detalles</h1>
{% endblock %}
{% block body %}
<div class="portlet-body">
  <div id="sample_1_wrapper" class="dataTable_wrapper table-responsive">
    <div class="col-md-4">
      <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <tbody>
            <tr>
                <th>Idpractica</th>
                <td>{{ practica.idPractica }}</td>
            </tr>
            <tr>
                <th>Estudiante</th>
              <td>{{ practica.idEstudiante }}</td>
            </tr>
            <tr>
                <th>Iniciopractica</th>
                <td>{% if practica.inicioPractica %}{{ practica.inicioPractica|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{% if practica.fechaFin %}{{ practica.fechaFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estadopractica</th>
                <td>{% if practica.estadoPractica %}Activo{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ practica.observaciones }}</td>
            </tr>
        </tbody>
      </table>

      <table>
        <tr>
          <a href="{{ path('practicas_index') }}" class="btn grey">Regresar</a>
        </tr>
        <tr>
          <a href="{{ path('practicas_edit', { 'idPractica': practica.idPractica}) }}" class="btn blue">Editar</a>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
