{% extends 'layout.html.twig' %}
{% block act5 %} active {% endblock %}
{% block title %}
  <h1>Perfil del {{rolEnvio}}</h1>
{% endblock %}
{% block body %}
  <div class="portlet-body ">
    <div id="sample_1_wrapper" class="dataTable_wrapper table-responsive">
      <div class="col-md-offset-3">
        <div class="col-md-6">
          <table class="table table-striped table-hover dataTable no-footer">
            <tbody>

              <tr >
                <div class="col-md-offset-3">
                  <img class="circulo " src="{{asset ('uploads/profile/'~ app.user.foto) }}" width="100%" height="100%" />
                </div>
              <tr>
                <br>
              <tr>
                <th>Nombre</th>
                <td>{{ app.user.nombrePersona }}</td>
              </tr>
              <tr>
                <th>Teléfono</th>
                <td>{{ app.user.telefonoPersona }}</td>
              </tr>
              <tr>
                <th>Direccion</th>
                <td>{{ app.user.direccionPersona }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ app.user.emailPersona }}</td>
              </tr>
              <tr>
                <th>Bufete</th>
                <td>{{ app.user.idBufete }}</td>
              </tr>

            </tbody>
          </table>

          <table>

              {% if persona.role == "ROLE_ASESOR" or persona.role == "ROLE_SECRETARIO" or persona.role == "ROLE_DIRECTOR" or persona.role == "ROLE_ADMIN" %}
              <tr>
                  <form method="post" action="{{ path('personas_editnUsuario')}}" class="form-inline" role="search">
                      <button type="submit" name="buscar" class="btn yellow w-xs m-b-5">Cambiar Usuario</button>
                      <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>
                  </form>
              </tr>
              <tr>
                  <form method="post" action="{{ path('personas_editcUsuario')}}" class="form-inline" role="search">
                      <button type="submit" name="buscar" class="btn blue w-xs m-b-5">Cambiar Contraseña</button>
                      <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>
                  </form>
              </tr>
              <tr>
                <a href="{{ path('bufete_homepage') }}" class="btn grey w-xs m-b-5">Regresar</a>
              </tr>

              {% endif %}


            </table>
          </div>
      </div>

      </div>
    </div>
  {% endblock %}
