{% extends 'layout.html.twig' %}
{% block act5 %} active {% endblock %}
{% block ac12 %} active {% endblock %}
      {% block title %}
        <h1>Editar Usuario</h1>
      {% endblock %}

{% block body %}
    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form, {'enctype':'multipart/form-data'}) }}
        <div class="form-body colorform">

          <div class="col-md-offset-4">

              <div class="row">
                <div class="col-md-4">
                  {% for message in app.session.flashbag().get('status') %}
                    <div class="alert alert-danger text-center">
                      <strong>¡Error! </strong>{{message}}
                    </div>
                  {% endfor %}
                </div>
              </div>

            <div class="row">
              <div class="col-md-4">
                {{form_label(edit_form.usuarioPersona,'Nombre de Usuario')}}
                {{form_widget(edit_form.usuarioPersona,{'attr':{'write':'readonly','class' : 'form-control'}}) }}
              </div>

              <br>

            </div>


<br>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <label for="">
                  <h4>

                  </h4>
                </label>
              </div>
            </div>


        </div>


        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-4 col-md-9">
              <div class="col-md-1">
                <input type="hidden" name="idPersona2" value="{{persona.idPersona}}"/>
                <button type="submit" name="Create" class="btn green">Guardar</button>
              </div>
              {% if persona.role == "ROLE_SECRETARIO" %}
              <form method="post" action="{{ path('personas_staffProfile')}}" class="form-inline" role="search">
                <button type="submit" name="buscar" class="btn gray">Cancelar</button>
                <input type="hidden" name="idPersona4" value="{{app.user.idPersona}}"/>
              </form>
              {% endif %}

        {{ form_end(edit_form) }}

        {% if is_granted('ROLE_SECRETARIO') or  is_granted('ROLE_ADMIN')  or is_granted('ROLE_ASESOR') or  is_granted('ROLE_DIRECTOR') %}

        <form method="post" action="{{ path('personas_staffProfile')}}" class="form-inline" role="search">
          <button type="submit" name="buscar" class="btn gray">Cancelar</button>
          <input type="hidden" name="idPersona5" value="{{app.user.idPersona}}"/>
        </form>

        {% elseif is_granted('ROLE_ESTUDIANTE') %}

        <form method="post" action="{{ path('personas_studentProfile')}}" class="form-inline" role="search">
          <button type="submit" name="buscar" class="btn gray">Cancelar</button>
          <input type="hidden" name="idPersona5" value="{{app.user.idPersona}}"/>
        </form>


        {% endif %}
      </div>
    </div>
    </div>

      </div>
    </div>

{% endblock %}
