{% extends 'layout.html.twig' %}
{% block act5 %} active {% endblock %}
{% block ac29 %} active {% endblock %}
      {% block title %}
        <h1>Editar usuario</h1>
      {% endblock %}

{% block body %}

    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form,{'attr':{'role':'form'}}) }}
        <div class="form-body colorform">
          <div class="col-md-offset-3">
            <div class="row">
              <div class="col-md-6">
                {% for message in app.session.flashbag().get('status') %}
                  <div class="alert alert-danger text-center">
                    <strong>¡Error! </strong>{{message}}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{form_label(edit_form.nombrePersona,'Nombre')}}
                {{form_widget(edit_form.nombrePersona,{'attr':{ 'class' : 'form-control'}}) }}
              </div>

            </div>
            <div class="row">
              <div class="col-md-3">
                  {{form_label(edit_form.telefonoPersona,'Teléfono')}}
                  {{form_widget(edit_form.telefonoPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-3">
                  {{form_label(edit_form.tel2Persona,'Teléfono')}}
                  {{form_widget(edit_form.tel2Persona,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                {{form_label(edit_form.dpiPersona,'DPI')}}
                {{form_widget(edit_form.dpiPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-3">
                {{form_label(edit_form.emailPersona,'Correo Electrónico')}}
                {{form_widget(edit_form.emailPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{form_label(edit_form.direccionPersona,'Dirección')}}
                {{form_widget(edit_form.direccionPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">

              <div class="col-md-3">
                {{form_label(edit_form.usuarioPersona,'Nombre de Usuario')}}
                {{form_widget(edit_form.usuarioPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-3">
                {{form_label(edit_form.idBufete,'Bufete')}}
                {{form_widget(edit_form.idBufete,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="">
                  {{form_label(edit_form.estadoPersona,'Estado')}}
                  {{form_widget(edit_form.estadoPersona)}}
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">




            <input type="hidden" name="idPersona2" value="{{persona.idPersona}}"/>
            <button type="submit" name="Create" class="btn green">Editar</button>




            {{ form_widget(edit_form.save, { 'label': 'Editar Constraseña','attr':{'class' : 'btn blue'} }) }}
            <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>




          </div>
        </div>
      </div>
    {{ form_end(edit_form) }}

    <form method="post" action="{{ path('personas_edituserAdmin')}}" class="form-inline" role="search">
        <button type="submit" name="buscar" class="btn yellow w-xs m-b-5">Cambiar Usuario</button>
        <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>
    </form>

    <a href="{{ path('personas_indexAsesores') }}">
      <button type="button" name="cancelar" class="btn default">Cancelar</button>
    </a>
    </div>
  </div>

{% endblock %}
