{% extends 'layout.html.twig' %}
{% block act5 %} active {% endblock %}
{% block ac29 %} active {% endblock %}
      {% block title %}
        <h1>Editar usuario</h1>
      {% endblock %}

{% block body %}

    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form,{'attr':{'role':'form'}}) }}
        <div class="form-body colorform">
          <div class="col-md-offset-2">
            <div class="row">
              <div class="col-md-5">
                {% for message in app.session.flashbag().get('status') %}
                  <div class="alert alert-danger text-center">
                    <strong>¡Error! </strong>{{message}}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                {{form_label(edit_form.nombrePersona,'Nombre')}}
                {{form_widget(edit_form.nombrePersona,{'attr':{ 'class' : 'form-control'}}) }}
              </div>

            </div>
            <div class="row">
              <div class="col-md-2">
                  {{form_label(edit_form.telefonoPersona,'Teléfono')}}
                  {{form_widget(edit_form.telefonoPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-2">
                  {{form_label(edit_form.tel2Persona,'Teléfono')}}
                  {{form_widget(edit_form.tel2Persona,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                {{form_label(edit_form.dpiPersona,'DPI')}}
                {{form_widget(edit_form.dpiPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-2">
                {{form_label(edit_form.emailPersona,'Correo Electrónico')}}
                {{form_widget(edit_form.emailPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                {{form_label(edit_form.direccionPersona,'Dirección')}}
                {{form_widget(edit_form.direccionPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">

              <div class="col-md-2">
                {{form_label(edit_form.usuarioPersona,'Nombre de Usuario')}}
                {{form_widget(edit_form.usuarioPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-2">
                {{form_label(edit_form.idBufete,'Bufete')}}
                {{form_widget(edit_form.idBufete,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">

                {{form_widget(edit_form.role)}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="">
                  {{form_label(edit_form.estadoPersona,'Estado')}}
                  {{form_widget(edit_form.estadoPersona)}}
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-2 col-md-9">
            <button type="submit" name="Create" class="btn green">Guardar</button>


            <a href="{{ path('personas_index') }}">
              <button type="button" name="cancelar" class="btn grey">Cancelar</button>
            </a>
          </div>
        </div>
      </div>
    {{ form_end(edit_form) }}
    </div>
  </div>

{% endblock %}
