{% extends 'layout.html.twig' %}
{% block act5 %} active {% endblock %}
{% block ac12 %} active {% endblock %}
      {% block title %}
        <h1>Editar Estudiante</h1>
      {% endblock %}

{% block body %}




    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form,{'attr':{'role':'form'}}) }}
        <div class="form-body colorform">
          <div class="col-md-offset-3">
            <div class="row">
              <div class="col-md-6">
                {% for message in app.session.flashbag().get('status') %}
                  <div class="alert alert-danger text-center">
                    <strong>¡Error! </strong>{{message}}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <label for="">
                  <h4>
                    <b>Datos Personales</b>
                  </h4>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{form_label(edit_form.nombrePersona,'Nombre Estudiante')}}
                {{form_widget(edit_form.nombrePersona,{'attr':{'readonly':'readonly', 'class' : 'form-control'}}) }}
              </div>

            </div>
            <div class="row">
              <div class="col-md-3">
                {{form_label(edit_form.telefonoPersona,'Teléfono 1')}}
                {{form_widget(edit_form.telefonoPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-3">
                {{form_label(edit_form.tel2Persona,'Teléfono 2')}}
                {{form_widget(edit_form.tel2Persona,{'attr':{'class' : 'form-control'}}) }}
              </div>

            </div>
            <div class="row">
              <div class="col-md-3">
                {{form_label(edit_form.dpiPersona,'DPI')}}
                {{form_widget(edit_form.dpiPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-3">
                {{form_label(edit_form.emailPersona,'Correo Electrónico')}}
                {{form_widget(edit_form.emailPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                {{form_label(edit_form.direccionPersona,'Dirección')}}
                {{form_widget(edit_form.direccionPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>

            </div>
            <div class="row">

              <div class="col-md-3">
                {{form_label(edit_form.estadoPersona,'Estado')}}
                {{form_widget(edit_form.estadoPersona) }}
              </div>

              <br>
              <div class="col-md-2">
                {{form_label(edit_form.role,' ')}}
                {{form_widget(edit_form.role) }}
              </div>
            </div>
<br>
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <label for="">
                  <h4>
                    <b>Datos Académicos</b>
                  </h4>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                {{form_label(edit_form.estudiantes.carneEstudiante,'No. Carné')}}
                {{form_widget(edit_form.estudiantes.carneEstudiante,{'attr':{ 'readonly':'readonly', 'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-3">
                {{form_label(edit_form.estudiantes.idtipopracticante,'Tipo de Practica')}}
                {{form_widget(edit_form.estudiantes.idtipopracticante,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">
                <label class="cr-styled">
                  {{ form_widget(edit_form.estudiantes.cierrePensum)}}
                  <i class="fa"></i>
                  {{form_label(edit_form.estudiantes.cierrePensum,'Cierre de Cursos')}}
                </label>
              </div>
            </div>
        </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">




              <input type="hidden" name="idPersona2" value="{{persona.idPersona}}"/>
              <button type="submit" name="Create" class="btn green">Guardar</button>




              {{ form_widget(edit_form.save, { 'label': 'Editar Constraseña','attr':{'class' : 'btn blue'} }) }}
              <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>



            </div>
          </div>
        </div>
        {{ form_end(edit_form) }}

        <form method="post" action="{{ path('personas_edituserAdmin')}}" class="form-inline" role="search">
            <button type="submit" name="buscar" class="btn yellow w-xs m-b-5">Cambiar Usuario</button>
            <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>
        </form>
        <a href="{{ path('personas_indexEstudiantes') }}">
          <button type="button" name="cancelar" class="btn default">Cancelar</button>
        </a>

      </div>
    </div>

{% endblock %}
