{% extends 'layout.html.twig' %}
{% block act5 %} active {% endblock %}
{% block ac13 %} active {% endblock %}
      {% block title %}
        <h1>Editar Asesor</h1>
      {% endblock %}

{% block body %}

    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form,{'attr':{'role':'form'}}) }}
        <div class="form-body colorform">
          <div class="col-md-offset-3">
            <div class="row">
              <div class="col-md-6">
                {{form_label(edit_form.nombrePersona,'Nombre')}}
                {{form_widget(edit_form.nombrePersona,{'attr':{ 'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                  {{form_label(edit_form.telefonoPersona,'Teléfono 1')}}
                  {{form_widget(edit_form.telefonoPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-2">
                  {{form_label(edit_form.tel2Persona,'Teléfono 2')}}
                  {{form_widget(edit_form.tel2Persona,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                {{form_label(edit_form.dpiPersona,'DPI')}}
                {{form_widget(edit_form.dpiPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
              <div class="col-md-3">
                {{form_label(edit_form.emailPersona,'Correo Electrónico')}}
                {{form_widget(edit_form.emailPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{form_label(edit_form.direccionPersona,'Dirección')}}
                {{form_widget(edit_form.direccionPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                {{form_label(edit_form.usuarioPersona,'Nombre de Usuario')}}
                {{form_widget(edit_form.usuarioPersona,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                {{form_widget(edit_form.role)}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="">
                  {{form_label(edit_form.estadoPersona,'Estado')}}
                  {{form_widget(edit_form.estadoPersona)}}
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <button type="submit" name="Create" class="btn green">Guardar</button>

            <a href="{{ path('personas_editpassasesor', {'idPersona': persona.idPersona}) }}">
              <button type="button" name="cancelar" class="btn default">Cambiar Contraseña</button>
            </a>

            <a href="{{ path('personas_indexAsesores') }}">
              <button type="button" name="cancelar" class="btn default">Cancelar</button>
            </a>
          </div>
        </div>
      </div>
    {{ form_end(edit_form) }}
    </div>
  </div>

{% endblock %}
