{% extends 'layout.html.twig' %}
{% block act5 %} active {% endblock %}

      {% block title %}
        <h1>Editar Contraseña</h1>
      {% endblock %}

{% block body %}
    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form,{'attr':{'role':'form'}}) }}
        <div class="form-body colorform">

          <div class="col-md-offset-3">


            <div class="row">
              <div class="col-md-3">
                {{form_label(edit_form.usuarioPersona,'Nombre de Usuario')}}
                {{form_widget(edit_form.usuarioPersona,{'attr':{'readonly':'readonly','class' : 'form-control'}}) }}
              </div>

              <div class="col-md-3">
                {{form_label(edit_form.passPersona,'Contraseña')}}
                {{form_widget(edit_form.passPersona,{'attr':{'readonly':'readonly', 'class' : 'form-control'}}) }}
              </div>
              <br>
            </div>
<br>
        </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <div class="col-md-1">

                  <input type="hidden" name="idPersona2" value="{{persona.idPersona}}"/>
                  <button type="submit" name="Create" class="btn green">Guardar</button>

                </div>
              {{ form_end(edit_form) }}

              {% if persona.role == "ROLE_SECRETARIO" or persona.role == "ROLE_ASESOR" or persona.role == "ROLE_DIRECTOR" or persona.role == "ROLE_ADMIN" %}
              <tr>
                <form method="post" action="{{ path('personas_editPersona')}}" class="form-inline" role="search">
                    <button type="submit" name="buscar" class="btn grey">Regresar</button>
                    <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>
                </form>
              </tr>

              {% elseif persona.role == "ROLE_ESTUDIANTE" %}
              <tr>
                <form method="post" action="{{ path('personas_editEstudiante')}}" class="form-inline" role="search">
                    <button type="submit" name="buscar" class="btn gray">Cancelar</button>
                    <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>
                </form>
              </tr>

              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>

{% endblock %}
