{% extends 'layout.html.twig' %}

{% block act5 %} active {% endblock %}
{% block ac13 %} active {% endblock %}

{% block title %}
  <h1>Listado de Asesores</h1>
{% endblock %}
{% block body %}
<div class="portlet-body">
    <div class="row">
      <div class="col-md-2">
        <form method="get" action="" class="form-inline" role="search">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" name="buscar" class="btn btn-effect-ripple btn-info">
                <i class="fa fa-search"></i>
              </button>
            </span>
            <input type="text" name="query" value="" class="form-control" placeholder="Buscar"/>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="btn-group">
                  <a href="{{ path('personas_newpersonal') }}">
                    <button id="sample_editable_1_new" class="btn green">
                      Agregar Asesor <i class="fa fa-plus"></i>
                    </button></a>
        </div>
      </div>


  <div class="col-md-12 col-sm-12 col-xs-6">
      <table class="table table-bordered ">
        <thead>
          <tr role="row" class="">
            <th></th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Bufete</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for persona in asesores %}
              <tr>
                <td><img alt="" src="{{asset ('uploads/profile/'~ persona.foto) }}" class="img-circle profile-img thumb-sm"></td>
                <td>{{ persona.nombrePersona }}</td>
                <td>{{ persona.telefonoPersona }}</td>
                <td>{{ persona.direccionPersona }}</td>
                <td>{{ persona.emailPersona }}</td>
                <td>{{ persona.idBufete }}</td>
                  <td>
                    <form method="post" action="{{ path('personas_perfil')}}" class="form-inline" role="search">
                        <button type="submit" name="buscar" class="btn yellow">Ver</button>
                        <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>
                    </form>

                    {% if persona.role == "ROLE_ADMIN" or persona.role == "ROLE_SECRETARIO" or persona.role == "ROLE_DIRECTOR" or persona.role == "ROLE_ASESOR" %}
                      <form method="post" action="{{ path('personas_editPersonal')}}" class="form-inline" role="search">
                          <button type="submit" name="buscar" class="btn blue">Editar</button>
                          <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>
                      </form>
                    {% endif %}

                  </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
</div>
{% endblock %}
