{% extends 'layout.html.twig' %}

{% block act26 %} active {% endblock %}
{% block ac34 %} active {% endblock %}

{% block title %}
  <h1>Listado de Asesores </h1>
{% endblock %}
{% block body %}
<div class="portlet-body">
    <div class="row">
      <div class="col-md-2">
        <form method="get" action="" class="form-inline" role="search">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" name="buscar" class="btn btn-effect-ripple btn-info">
                <i class="fa fa-search"></i>
              </button>
            </span>
            <input type="text" name="query" value="" class="form-control" placeholder="Buscar"/>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <div class="">
          <div class="form-group">
                <form method="get" action="" class="form-inline" role="search">
                <select onchange="this.form.submit()" name="sbufete" id="sbufete" class="form-control selectpicker" data-live-search="true">
                      <option value="" selected>SELECCIONE UN BUFETE</option>
                      {% for bufete in bufetes %}
                       <option value="{{ bufete.idBufete }}">{{ bufete.nombreBufete }}</option>
                       {% endfor %}
                  </select>
                  </form>
              </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

        </div>
      </div>

  <div class="col-md-12 col-sm-12 col-xs-6">
      <table class="table table-bordered ">
        <thead>
          <tr role="row" class="">
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Bufete</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for persona in asesores %}
              <tr>
                <td>{{ persona.nombrePersona }}</td>
                <td>{{ persona.telefonoPersona }}</td>
                <td>{{ persona.direccionPersona }}</td>
                <td>{{ persona.emailPersona }}</td>
                <td>{{ persona.idBufete }}</td>
                  <td>
                    <form method="post" action="{{ path('personas_perfil')}}" class="form-inline" role="search">
                        <button type="submit" name="buscar" class="btn yellow">Ver</button>
                        <input type="hidden" name="idPersona" value="{{persona.idPersona}}"/>
                    </form>
                    <a href="{{ path('personas_HistorialAsesor', { 'id': persona.idPersona })}}" class="btn yellow">Historial</a>
                  </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
</div>
{% endblock %}
