{% extends "layout.html.twig" %}

{% block act28 %} active {% endblock %}

{% block title %}
                <h2 class="title">Buscando</h2>
{% endblock %}

{% block body %}
<div class="portlet-body">
<div class="row">


<div class="col-lg-12" align="center">

 {% if bandera == 1 %}
     <h1>Estudiante</h1>
<form action="{{path('avisos_indexbuscar')}}" method="POST">
<p href class="glyphicon glyphicon-search btn btn-primary"></p>
<select name = "bus" id="bus" method="POST" class="selectpicker" data-live-search="true">
<option value="" selected>SELECCIONE UN ESTUDIANTE</option>
  {% for aviso in av %}
                <option value="{{aviso.carne_estudiante}}" class="btn">{{aviso.carne_estudiante}}</option>
            {% endfor %}
</select>
<input title="Clic para buscar" type="submit" value="Buscar" class="btn btn-success">
<a href="{{path('avisos_index')}}" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea Salir?')"> Salir</a>
</form>
{% endif %}


{% if bandera == 2 %}
<h1>Caso</h1>

<form action="{{path('avisos_casobuscar')}}" method="POST">
<p href class="glyphicon glyphicon-search btn btn-primary"></p>
<select name="res" id="res" method="POST" class="selectpicker" data-live-search="true">
<option value="" selected>SELECCIONE UN CASO</option>
  {% for aviso in av %}
                <option value="{{ aviso.no_caso }}" class="btn">{{aviso.no_caso}}</option>
            {% endfor %}
</select>

<input title="Clic para buscar" type="submit" value="Buscar" class="btn btn-success">
<a href="{{path('avisos_index')}}" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea Salir?')"> Salir</a>
</form>
{% endif %}

{% if bandera == 3 %}
<h1>Fecha</h1>

<form action="{{path('avisos_fechabuscar')}}" method="POST">
<p href class="glyphicon glyphicon-search btn btn-primary"></p>
<input type="date" name="fec1"/><hr/>
<p href class="glyphicon glyphicon-search btn btn-primary"></p>
<input type="date" name="fec2"/><hr/>
<input title="Clic para buscar" type="submit" value="Buscar" class="btn btn-success">
<a href="{{path('avisos_index')}}" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea Salir?')"> Salir</a>
</form>

{% endif %}

{% if bandera == 4 %}

<h1>Demandante</h1>

<form action="{{path('avisos_dembuscar')}}" method="POST">
<p href class="glyphicon glyphicon-search btn btn-primary"></p>
<select name = "res" id="res" method="POST" class="selectpicker" data-live-search="true">
  <option value="" selected>SELECCIONE UN DEMANDANTE</option>
	{% for aviso in av %}
                <option value="{{aviso.nombre_demandante}}" class="btn">{{aviso.nombre_demandante}}</option>
            {% endfor %}
</select>
<input title="Clic para buscar" type="submit" value="Buscar" class="btn btn-success">
<a href="{{path('avisos_index')}}" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea Salir?')"> Salir</a>
</form>
{% endif %}


{% if bandera == 5 %}

<h1>Demandado</h1>
<form action="{{path('avisos_demandadobuscar')}}" method="POST">
<p href class="glyphicon glyphicon-search btn btn-primary"></p>
<select name = "res" id="res" method="POST" class="selectpicker" data-live-search="true">
<option value="" selected>SELECCIONE UN DEMANDADO</option>
  {% for aviso in av %}
                <option value="{{aviso.nombre_demandado}}" class="btn">{{aviso.nombre_demandado}}</option>
            {% endfor %}
</select>
<input title="Clic para buscar" type="submit" value="Buscar" class="btn btn-success">
<a href="{{path('avisos_index')}}" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea Salir?')"> Salir</a>

</form>
{% endif %}

     </div>
     </div>
</div>
{% endblock %}
