{% extends 'layout.html.twig' %}

{% if is_granted('ROLE_ESTUDIANTE')%}
  {% block act20 %} active {% endblock %}
  {% block ac22 %} active {% endblock %}
{% endif %}
{% if is_granted('ROLE_ASESOR')%}
  {% block act23 %} active {% endblock %}
  {% block ac27 %} active {% endblock %}
{% endif %}

{% block title %}
  <h1>Casos Civiles</h1>
{% endblock %}

{% block body %}
<div class="portlet-body">

    <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-6" >
    <div class="table-responsive">
      <table class="table table-striped ">
        <thead>
          <tr role="row" class="">
            <th>No.</th>
            <th>Fecha </th>
            <th>Demandante</th>



            <th>Nombre Estudiante</th>
            <th>Carné Estudiante</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for caso in casos %}
          <tr>
            <td>{{ caso.noCaso }}</td>
            <td>{% if caso.fechaCaso %}{{ caso.fechaCaso|date('Y-m-d') }}{% endif %}</td>
            <td>{{ caso.idDemandante.nombreDemandante }}</td>



            <td>{{ caso.idEstudiante.idPersona.nombrePersona }}</td>
            <td>{{ caso.idEstudiante.carneEstudiante }}</td>
            <td>{{ caso.estadoCaso }}</td>
              <td>
                <form method="post" action="{{ path('casos_showcivil')}}" class="form-inline" role="search">
                    <button type="submit" name="buscar" class="btn yellow">Ver</button>
                    <input type="hidden" name="id" value="{{caso.idCaso}}"/>
                </form>
              </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination m-b-5">
      {{ knp_pagination_render(casos) }}
  </div>
 </div>
</div>
{% endblock %}
