{% extends 'layout.html.twig' %}

{% if is_granted('ROLE_ESTUDIANTE')%}
  {% block act20 %} active {% endblock %}
  {% block ac22 %} active {% endblock %}
{% endif %}
{% if is_granted('ROLE_ASESOR')%}
  {% block act23 %} active {% endblock %}
  {% block ac27 %} active {% endblock %}
{% endif %}

{% block title %}
  <h1>Casos Civiles</h1>
{% endblock %}

{% block body %}
<div class="portlet-body">

    <div class="row">

      {% if is_granted('ROLE_ASESOR')%}
          <div class="col-md-4">
            <form method="get" action="" class="form-inline" role="search">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="submit" name="buscar" class="btn btn-effect-ripple btn-info">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
                <input type="text" name="query" value="" class="form-control" placeholder="Buscar"/>
              </div>
            </form>
          </div>
      {% endif %}

  <div class="col-md-12 col-sm-12 col-xs-12" >
    <div class="table-responsive">
      <table class="table table-striped ">
        <thead>
          <tr role="row" class="">
            <th>No.</th>
            <th>Fecha </th>
            <th>Demandante</th>



            <th>Nombre Estudiante</th>
            <th>Carné Estudiante</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for caso in casos %}
          <tr>
            <td>{{ caso.noCaso }}</td>
            <td>{% if caso.fechaCaso %}{{ caso.fechaCaso|date('Y-m-d') }}{% endif %}</td>
            <td>{{ caso.idDemandante.nombreDemandante }}</td>



            <td>{{ caso.idEstudiante.idPersona.nombrePersona }}</td>
            <td>{{ caso.idEstudiante.carneEstudiante }}</td>
            <td>
              {% if caso.estadoCaso == 1 %}
               No asignado
              {% endif %}
              {% if caso.estadoCaso == 2 %}
               Asignado
              {% endif %}
              {% if caso.estadoCaso == 3 %}
               Descargado
              {% endif %}
              {% if caso.estadoCaso == 4 %}
               Fenecido
              {% endif %}
              {% if caso.estadoCaso == 5 %}
               Transferido
              {% endif %}
            </td>
              <td>
                <form method="post" action="{{ path('casos_showcivil')}}" class="form-inline" role="search">
                    <button type="submit" name="buscar" class="btn yellow">Ver</button>
                    <input type="hidden" name="id" value="{{caso.idCaso}}"/>
                </form>
              </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination m-b-5">
      {{ knp_pagination_render(casos) }}
  </div>
 </div>
</div>
{% endblock %}
