{% extends 'layout.html.twig' %}
{% block act3 %} active {% endblock %}
{% block ac8 %} active {% endblock %}
      {% block title %}
        <h1>Transferir Casos Ramo Civil</h1>
      {% endblock %}

{% block body %}
    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(form,{'attr':{'role':'form'}}) }}
        <div class="form-body colorform">
          <div class="col-md-offset-3">
            <div class="row">
              <div class="col-md-6">
                {% for message in app.session.flashbag().get('status') %}
                  <div class="alert alert-danger text-center">
                    <strong>¡Error! </strong>{{message}}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="">Estudiante Actual: </label>
                <input type="text" name="" disabled class="form-control" value="{{estudiante}}">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{form_label(form.idEstudiante,'Estudiante')}}
                {{form_widget(form.idEstudiante,{'attr':{'data-live-search' :'true',  'class' : 'selectpicker form-control'},'placeholder':'Ninguno seleccionado'}) }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 ">
              <div class="col-md-1 col-lg-1 col-xs-1">
                  <button type="submit" name="Create" class="btn green">Transferir</button>
              </div>
              {{ form_end(form) }}
              <div class="col-md-2 col-lg-2 col-xs-2">
                <form method="post" action="{{ path('casos_showcivil')}}" class="form-inline" role="search">
                    <button type="submit" name="buscar" class="btn grey">Cancelar</button>
                    <input type="hidden" name="id" value="{{casocivil.idCaso}}"/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
