{% extends 'layout.html.twig' %}

{% if is_granted('ROLE_DIRECTOR')%}
  {% block act29 %} active {% endblock %}
  {% block ac38 %} active {% endblock %}
{% else %}
  {% block act6 %}active{% endblock %}
  {% block ac17 %}active{% endblock %}
{% endif %}

{% block title %}
<h1>Detalles</h1>
{% endblock %}
{% block body %}
<div class="portlet-body">
  <div id="sample_1_wrapper" class="dataTable_wrapper table-responsive">
    <div class="col-md-4">
      <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <tbody>
          <tr>
            <th>id</th>
            <td>{{ clinica.idClinica }}</td>
          </tr>
          <tr>
            <th>Nombre</th>
            <td>{{ clinica.nombreClinica }}</td>
          </tr>
          <tr>
            <th>Fecha Inicio</th>
            <td>
              {% if clinica.fechaAsignacion %}{{ clinica.fechaAsignacion|date('Y-m-d') }}{% endif %}
            </td>
          </tr>
          <tr>
            <th>Fecha Finalización</th>
            <td>
              {% if clinica.fechaFin %}{{ clinica.fechaFin|date('Y-m-d') }}{% endif %}
            </td>
          </tr>
          <tr>
            <th>Observaciones</th>
            <td>{{ clinica.observaciones }}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>
              {% if clinica.estadoClinica == 1 %}
                Activo
              {% endif %}
              {% if clinica.estadoClinica == 0 %}
                Inactivo
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <table>
        <tr>
          <a href="{{ path('clinicas_index') }}" class="btn grey">Regresar</a>
        </tr>
        <tr>
          <a href="{{ path('clinicas_edit', { 'idClinica': clinica.idClinica }) }}" class="btn blue">Editar</a>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
