{% extends 'base.html.twig' %}

{% block body %}

<<<<<<< HEAD
hgfhgfhgfdddddddddddddddddddddddddddddddddddddddddddasdasdasdsasssss
=======
    <h1>Subir Informesssssssssssssssss</h1>


>>>>>>> c2cc111603718842be761fdc94fe01cfebbbaa00

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}


        <input type="hidden" name="idRevision" value="{{revisione.idRevision}}"/>
        <input type="submit" value="Guardar" />



    {{ form_end(edit_form) }}


    <ul>
        <li>
            <a href="{{ path('revisiones_indexInformes') }}">Backkkk to the list</a>
        </li>

    </ul>
{% endblock %}
