{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entregas del caso No. {{numcasoEnvio}}</h1>

    <table>
        <thead>
            <tr>
                <th>No. Revisión</th>
                <th>Tituloentrega</th>
                <th>Fechacreacion</th>
                <th>Fechalimite</th>
                <th>Nombrearchivo</th>
                <th>Estado de la Entrega</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>



        {% set countergeneral = 0 %}
        {% set counter = 0 %}
        {% for revisione in revisiones %}

            {% if varEnvio == revisione.idCaso.idCaso %}
              {% set counter = counter + 1 %}

          {% endif %}
        {% endfor %}



        {% for revisione in revisiones %}

            {% if varEnvio == revisione.idCaso.idCaso %}

            <tr>

              <td>{{ counter }}</td>
              {% set counter = counter - 1 %}

                <td>{{ revisione.tituloEntrega }}</td>
                <td>{% if revisione.fechaCreacion %}{{ revisione.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if revisione.fechaLimite %}{{ revisione.fechaLimite|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                  {% if revisione.RutaArchivo != null %}
                    <a href="{{ asset (ruta~revisione.RutaArchivo) }}" download>
                      <img src="{{ asset (ruta~'/pdf.png')}}" width="28" height="30">{{ revisione.nombreArchivo }}
                    </a>
                  {% endif %}
                  <td>
                    {% if revisione.tituloEntrega!= 'CORRECCIÓN DE INFORME' %}

                      {% if revisione.fechaLimite|date('Y-m-d H:i:s') > revisione.fechaEnvio|date('Y-m-d H:i:s') and revisione.fechaEnvio != null %}
                            Entregado
                      {% elseif revisione.fechaLimite|date('Y-m-d H:i:s') < revisione.fechaEnvio|date('Y-m-d H:i:s') or revisione.fechaLimite|date('Y-m-d H:i:s') == revisione.fechaEnvio|date('Y-m-d H:i:s') and revisione.fechaEnvio != null%}
                            Retrazado
                      {% elseif revisione.fechaEnvio == null %}
                            Pendiente
                      {% endif %}

                    {% endif %}

                  </td>
                <td>


                    <ul>

                            {% if revisione.fechaLimite == null and revisione.fechaEnvio == null %}
                              <li>
                                  <a href="{{ path('revisiones_showRevision', { 'idRevision': revisione.idRevision }) }}">Detalles</a>
                              </li>
                            {% elseif (revisione.fechaLimite != null or revisione.fechaEnvio != null) or (revisione.fechaLimite != null or revisione.fechaEnvio == null) %}
                              <li>
                                  <a href="{{ path('revisiones_showLink', { 'idRevision': revisione.idRevision }) }}">Detalles</a>
                              </li>
                              <li>
                                <form method="post" action="{{ path('revisiones_upload')}}" class="form-inline" role="search">
                                  {% if (revisione.fechaEnvio!=null) %}
                                    <button type="submit" name="buscar" class="btn blue">Editar Entrega</button>
                                  {% elseif (revisione.fechaEnvio==null) %}
                                    <button type="submit" name="buscar" class="btn blue">Subir Informe</button>
                                  {% endif %}
                                    <input type="hidden" name="idRevision" value="{{revisione.idRevision}}"/>
                                </form>
                              </li>

                            {% endif %}

                    </ul>
                </td>
            </tr>

            {% endif %}

        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            
        </li>
    </ul>
{% endblock %}
