{% extends 'base.html.twig' %}

{% block body %}
    <h1>Revisiones list</h1>

    <table>
        <thead>
            <tr>
                <th>Idrevision</th>
                <th>Idpersona</th>
                <th>Tituloentrega</th>
                <th>Fechacreacion</th>
                <th>Nombrearchivo</th>
                <th>Rutaarchivo</th>
                <th>Fechalimite</th>
                <th>Comentarios</th>
                <th>Fechaenvio</th>
                <th>Estadorevision</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for revisione in revisiones %}
            <tr>
                <td><a href="{{ path('revisiones_show', { 'idRevision': revisione.idRevision }) }}">{{ revisione.idRevision }}</a></td>
                <td>{{ revisione.idPersona }}</td>
                <td>{{ revisione.tituloEntrega }}</td>
                <td>{% if revisione.fechaCreacion %}{{ revisione.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ revisione.nombreArchivo }}</td>
                <td>{{ revisione.rutaArchivo }}</td>
                <td>{% if revisione.fechaLimite %}{{ revisione.fechaLimite|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ revisione.comentarios }}</td>
                <td>{% if revisione.fechaEnvio %}{{ revisione.fechaEnvio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ revisione.estadoRevision }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('revisiones_show', { 'idRevision': revisione.idRevision }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('revisiones_edit', { 'idRevision': revisione.idRevision }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('revisiones_new') }}">Create a new revisione</a>
        </li>
    </ul>
{% endblock %}
