{% extends 'layout.html.twig' %}
{% block title %}
    <div class="actions">
          <form method="post" action="{{ path('revisiones_newLink')}}" class="form-inline" role="search">
              <button type="submit" name="buscar" class="button button1">Habilitar Entrega <i class="fa fa-plus"></i></button>
              <input type="hidden" name="idCaso" value="{{casoEnvio.idCaso}}"/>
          </form>
    </div>
  <h1>Entregas del caso No. {{casoEnvio.noCaso}}</h1>
{% endblock %}
{% block body %}
<div class="portlet-body">
    <div class="row">

      <div class="col-md-offset-11">
        <div class="col-md-2">
          <form method="post" action="{{ path('casos_showlaboral')}}" class="form-inline" role="search">
              <button type="submit" name="buscar" class="btn yellow">Regresar</button>
              <input type="hidden" name="id" value="{{casoEnvio.idCaso}}"/>
          </form>
        </div>
      </div>


      <div class="col-md-12 col-sm-12 col-xs-12">

        <table class="table table-striped">
          <tbody>
            {% set countergeneral = 0 %}
            {% set counter = 0 %}
            {% for revisione in revisiones %}
                {% if varEnvio == revisione.idCaso.idCaso %}
                  {% set counter = counter + 1 %}
              {% endif %}
            {% endfor %}
            {% set counterF = counter %}

            {% for revisione in revisiones %}
              {% if varEnvio == revisione.idCaso.idCaso %}
              {% set counter = counter - 1 %}
                <tr>
                  <td>
                    <h2 class="list-group-item-heading">
                      <b>
                        {% if revisione.fechaCreacion %}{{ revisione.fechaCreacion|date('d-m-Y') }}{% endif %} -
                        {% if revisione.fechaLimite %}{{ revisione.fechaLimite|date('d-m-Y') }}{% endif %}
                      </b>
                    </h2>
                    <p class="list-group-item-text">
                      <a href="#">
                      <h4><img src="{{ asset ('asst/img/revision.png')}}" width="28" height="28">{{ revisione.tituloEntrega }}</h4>
                      </a>
                      <span class="help-block">
                        <small>Subido {% if revisione.fechaCreacion %}{{ revisione.fechaCreacion|date('d-m-Y H:i') }}{% endif %}</small>
                      </span>
                    </p>

                  </td>
                  <td>
                    <div align="right">
                      {% if revisione.tituloEntrega != 'CORRECCIÓN DE INFORME' %}
                        {% if revisione.fechaLimite | date('Y-m-d H:i:s') > revisione.fechaEnvio | date('Y-m-d H:i:s')and revisione.fechaEnvio != null %}
                          <h4>
                            <span class="label label-success">Entregado</span>
                          </h4>
                        {% elseif revisione.fechaLimite|date('Y-m-d H:i:s') < revisione.fechaEnvio|date('Y-m-d H:i:s') or revisione.fechaLimite|date('Y-m-d H:i:s') == revisione.fechaEnvio|date('Y-m-d H:i:s') and revisione.fechaEnvio != null%}
                          <h4>
                            <span class="label label-warning">Retrasada</span>
                          </h4>
                        {% elseif revisione.fechaEnvio == null %}
                          <h4>
                            <span class="label label-info">Pendiente</span>
                          </h4>
                        {% endif %}
                      {% endif %}
                    </div>
                    <br>
                    <div align="right">
                      <ul class="list-unstyled">

                        {% if revisione.fechaLimite == null and revisione.fechaEnvio == null %}
                          <li>

                              <button onclick="location='{{ path('revisiones_showRevision', { 'idRevision': revisione.idRevision }) }}'" type="submit" name="buscar" class="btn btn-trs  btn-sm  ">
                                <b>Detalles</b>   <img src="{{ asset ('asst/img/ver.png')}}" width="22" height="22">
                              </button>
                          </li>
                          <li>
                            <form method="post" action="{{ path('revisiones_editRevision')}}" class="form-inline" role="search">

                              <button type="submit" name="buscar" class="btn btn-trs  btn-sm  ">
                                <b>Editar Revisión </b>   <img src="{{ asset ('asst/img/edit.png')}}" width="22" height="22">
                              </button>
                              <input type="hidden" name="idRevision" value="{{revisione.idRevision}}"/>
                            </form>

                          </li>
                        {% elseif (revisione.fechaLimite != null or revisione.fechaEnvio != null)or(revisione.fechaLimite != null or revisione.fechaEnvio == null) %}
                          <li>
                              <button onclick="location='{{ path('revisiones_showLink', { 'idRevision': revisione.idRevision }) }}'" type="submit" name="buscar" class="btn btn-trs  btn-sm  ">
                                <b>Detalles</b>   <img src="{{ asset ('asst/img/ver.png')}}" width="22" height="22">
                              </button>
                          </li>
                          <li>


                            {% if revisione.fechaEnvio == null and revisione.nombreArchivo == null and revisione.RutaArchivo == null%}
                              <form id="myform" method="post" action="{{ path('revisiones_editLink')}}" class="form-inline" role="search">
                                  <button type="submit" name="buscar" class="btn btn-trs  btn-sm  ">
                                    <b>Editar Entrega</b>   <img src="{{ asset ('asst/img/edit.png')}}" width="22" height="22">
                                  </button>
                                <input type="hidden" name="idRevision" value="{{revisione.idRevision}}"/>
                              </form>
                            {% endif %}

                            {% if revisione.fechaEnvio != null and revisione.nombreArchivo != null and revisione.tituloEntrega != "CORRECCIÓN DE INFORME" and revisione.RutaArchivo != null and(counterF == counter + 1) %}
                              <form id="myform2" method="post" action="{{ path('revisiones_uploadRevision')}}" class="form-inline" role="search">
                                  <button type="submit" name="buscar" class="btn btn-trs  btn-sm  ">
                                    <b>Agregar Revisión</b>   <img src="{{ asset ('asst/img/add.png')}}" width="22" height="22">
                                  </button>
                                <input type="hidden" name="idCaso" value="{{varEnvio}}"/>
                              </form>
                            {% endif %}


                          </li>
                        {% endif %}

                      </ul>
                    </div>
                </td>
                </tr>
            {% endif %}
            {% endfor %}

          </tbody>
        </table>

      </div>

</div>
</div>
{% endblock %}
