{% extends 'base.html.twig' %}

{% block body %}
    <h1>Revisione</h1>

    <table>
        <tbody>
            <tr>
                <th>Idrevision</th>
                <td>{{ revisione.idRevision }}</td>
            </tr>
            <tr>
                <th>Idpersona</th>
                <td>{{ revisione.idPersona }}</td>
            </tr>
            <tr>
                <th>Tituloentrega</th>
                <td>{{ revisione.tituloEntrega }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if revisione.fechaCreacion %}{{ revisione.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nombrearchivo</th>
                <td>{{ revisione.nombreArchivo }}</td>
            </tr>
            <tr>
                <th>Rutaarchivo</th>
                <td>{{ revisione.rutaArchivo }}</td>
            </tr>
            <tr>
                <th>Fechalimite</th>
                <td>{% if revisione.fechaLimite %}{{ revisione.fechaLimite|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Comentarios</th>
                <td>{{ revisione.comentarios }}</td>
            </tr>
            <tr>
                <th>Fechaenvio</th>
                <td>{% if revisione.fechaEnvio %}{{ revisione.fechaEnvio|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estadorevision</th>
                <td>{{ revisione.estadoRevision }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('revisiones_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('revisiones_edit', { 'idRevision': revisione.idRevision }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
