{% extends 'layout.html.twig' %}

      {% block title %}
        <h1>Subir informe</h1>
      {% endblock %}

{% block body %}
    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form, {'enctype':'multipart/form-data'}) }}
        <div class="form-body colorform">
          <div class="col-md-offset-4">
            <div class="row">
              <div class="col-md-4">
                {{form_label(edit_form.tituloEntrega,'Titulo de Revision')}}
                {{form_widget(edit_form.tituloEntrega,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>



            {% if revisione.RutaArchivo != null %}
              <a href="{{ asset (ruta~revisione.RutaArchivo) }}" download>
                <img src="{{ asset (ruta~'/pdf.png')}}" width="28" height="30">{{ revisione.nombreArchivo }}
              </a>
            {% endif %}



            <div class="row">
              <div class="col-md-4">

                


            {{form_label(edit_form['rutaArchivo'],'Nombre:')}}
            {{form_widget(edit_form['rutaArchivo']) }}

          </div>
        </div>



            <div class="row">
              <div class="col-md-4">
                {{form_label(edit_form.rutaArchivo,'ruta')}}
                {{form_widget(edit_form.rutaArchivo) }}
              </div>
            </div>


            <br>
            <div class="row">
              <div class="col-md-4">
                {{form_label(edit_form.comentarios,'Comentarios ')}}
                {{form_widget(edit_form.comentarios,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>


            <div class="row">

            </div>
            <input type="hidden" name="idRevision" value="{{revisione.idRevision}}"/>

          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-4 col-md-9">
              <input type="hidden" name="idRevision" value="{{revisione.idRevision}}"/>
              <button type="submit" name="Create" class="btn green">Crear</button>



            </div>
          </div>
        </div>
        {{ form_end(edit_form) }}
      </div>
    </div>
{% endblock %}
