{% extends 'layout.html.twig' %}

      {% block title %}
        <h1>Editar Envio</h1>
      {% endblock %}

{% block body %}


    <div class="portlet-body form">
      <div id="form_sample_1" class="form-horizontal" >
        {{ form_start(edit_form, {'enctype':'multipart/form-data'})}}
        <div class="form-body colorform">
          <div class="col-md-offset-4">
            <div class="row">
              <div class="col-md-4">
                {{form_label(edit_form.tituloEntrega,'Titulo de Revision')}}
                {{form_widget(edit_form.tituloEntrega,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>






            <br>
            <div class="row">
              <div class="col-md-4">
                {{form_label(edit_form.comentarios,'Comentarios ')}}
                {{form_widget(edit_form.comentarios,{'attr':{'class' : 'form-control'}}) }}
              </div>
            </div>


            <div class="row">

            </div>
            <input type="hidden" name="idRevision" value="{{revisione.idRevision}}"/>

          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-4 col-md-9">

                <button type="submit" name="Create" class="btn green">Edit</button>
            
            </div>
          </div>
        </div>
        {{ form_end(edit_form) }}
      </div>
    </div>
{% endblock %}
